.card {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    padding: 2%;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 1%;
    vertical-align: middle;
    height: 100%;
    align-items: center;
}

img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.info-holder {
    display: flex;
    flex-direction: row;
    gap: 1%;
    vertical-align: middle;
}

.detail-card {
    width: 20%;
}

.detail-card-label {
    font-size: 1.75vh;
}

.name {
    font-weight: bold;
    font-size: 2vw;
}

.location {
    font-weight: lighter;
    font-size: 1.5vw;
}

.example-spacer {
    flex: 1 1 auto;
}