<mat-toolbar *ngIf="isUser">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/profile">Profile</button>
    <span class="example-spacer"></span>
    <button mat-button (click)="logout">Sign Out</button>
</mat-toolbar>

<!-- <div class="header">
    <a class="active" routerLink="/home">Home</a>
    <a routerLink="/profile">Profile</a>
    <div class="right-button">
        <a (click)="authService.signOut()">Sign Out</a>
    </div>
</div> -->

<router-outlet>
</router-outlet>