.example-spacer {
    flex: 1 1 auto;
}

.header {
    overflow: hidden;
    background-color: black;
}

.mat-button {
    color: #f2f2f2;
}

.mat-button:hover {
    background-color: #ddd;
    color: black;
}

.right-button {
    float: right;
}