.App {
    text-align: center;
    background-color: #f2f2f2;
    min-width: 100%;
    /* background-color: blue; */
}

.material-icons.school {
    font-size: 30vh !important;
    color: #2b6777;
    pointer-events: none;
    border-radius: 50%;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 50%;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Sign-Up-Button {
    background-color: #2b6777;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.Login-Button {
    color: #2b6777;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}