<div class="main-form">
  <h1>Reset Password</h1>
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <mat-grid-list cols="1" rowHeight="75px">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Your email address" required>
          <!-- <mat-error *ngIf="formValues.email.required">You must enter a value</mat-error> -->
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button type="submit">Reset</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
