<div class="container">

  <div class="card">
    <h2 class="card-header">Survey</h2>
    <div class="card-body">
      <div class="row">
        <div class="col-md">
          <form>
            <!-- Question 1 -->
            <div>
              <h3>1) What size colleges are you interested in? (Check all that apply)</h3>
              <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label for="" class="form-check-label">
                  Small (Less than 5,000)
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label for="" class="form-check-label">
                  Medium (Between 5,000 and 15,000)
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label for="" class="form-check-label">
                  Large (Greater than 15,000)
                </label>
              </div>

              <br>

              <!-- Question 2 -->
              <div>
                <h3>2) What college location setting are you looking for? (Check all that apply)</h3>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Rural
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Small Town
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Big City
                  </label>
                </div>
              </div>

              <br>
              <!-- Question 3 -->
              <div>
                <h3>3) What are you location preferences? (Check all that apply)</h3>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Northeast
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Mid-Atlantic
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    South
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Midwest
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Sunbelt
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    West Coast
                  </label>
                </div>
              </div>

              <br>

              <!-- Question 4 -->
              <div>
                <h3>4) Pick the top 3 most important parts of a college for you. </h3>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Academics
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Diversity
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Athletics
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Professors
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Dorms
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Campus Food
                  </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label for="" class="form-check-label">
                    Party Scene
                  </label>
                </div>
              </div>

              <br>

              <!-- Question 5 -->
              <div>
                <h3>5) Is living on campus for more than your freshman year important to you?</h3>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="campus-living-length">
                  <label for="" class="form-check-label">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="campus-living-length">
                  <label for="" class="form-check-label">
                    No
                  </label>
                </div>
                <hr>
                <button class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <body>

<h1 class="title">Survery</h1>

<div class="container">
    <div class="row">
    <div class="col-md-6">

        <form [formGroup]="form" (ngSubmit)="updateSurvey()">

            <div class="mb-3">
                <label for="collegeSize" class="form-label">College Size: </label><br>
                <input type="checkbox" name="college-size" value="Small">Small<br>
                <input type="checkbox" name="college-size" value="Medium">Medium<br>
                <input type="checkbox" name="college-size" value="Large">Large<br>
            </div>

            <div class="mb-3">
                <label for="collegeLocation" class="form-label">College Location: </label><br>
                <input type="checkbox" name="college-loc" value="NorthEast">NorthEast<br>
                <input type="checkbox" name="college-loc" value="MidAtlantic">Mid-Atlantic<br>
                <input type="checkbox" name="college-loc" value="South">South<br>
                <input type="checkbox" name="college-loc" value="MidWest">MidWest<br>
                <input type="checkbox" name="college-loc" value="SunBelt">SunBelt<br>
                <input type="checkbox" name="college-loc" value="WestCoast">West Coast<br>
            </div>

            <div class="mb-3">

            </div>

        </form>

    </div>
    </div>
</div>
</body> -->
