.holder {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
}

.school-holder {
    margin: 20px;
}

.settings-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    vertical-align: middle;
    margin: 10px 0 auto auto;
    margin-left: 10px;
    text-align: center;
}

.settings-card>* {
    margin: 5px auto;
}

.Search-Button {
    background-color: #2b6777;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.student-body-size-area {
    text-align: center;
    width: 200px;
}

.mode {
    width: 100%
}

.label {
    margin-bottom: 0;
}

.slider {
    width: 100%;
    padding: 0;
}

.card-item {
    margin: 5px;
}