.settings-card {
    width: 75%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    vertical-align: middle;
    margin: 10px auto;
}

.Search-Button {
    background-color: #2b6777;
    color: white;
    font-size: 15px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    height: 50px;
    cursor: pointer;
    float: right;
}

.student-body-size-area {
    text-align: center;
    width: 250px;
}

.slider {
    width: 100%
}