<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="alert alert-success" role="alert" *ngIf="updateSuccess">
          Profile Updated!
        </div>

        <div class="survey">
          <button type="submit" class="btn btn-dark" routerLink="/survey">My Survey</button>
        </div>

        <div class="card">
          <h2 class="card-header">Profile</h2>
          <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="updateAccount()">
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name: </label>
                <input type="text" class="form-control" id="firstName" name="lastName" value="{{userData.firstName}}"
                  disabled>
              </div>

              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name: </label>
                <input type="text" class="form-control" id="lastName" name="lastName" value="{{userData.lastName}}"
                  disabled>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="text" class="form-control" id="email" name="email" value="{{userData.email}}" disabled>
              </div>

              <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" id="username" formControlName="username"
                  value="{{userData.username}}">
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-secondary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
