<div class="main-form">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="loginAccount()">
    <mat-grid-list cols="1" rowHeight="75px">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Your email address" required>
          <mat-error *ngIf="f.email.touched && f.email.invalid">You must enter a valid email</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput #password formControlName="password" type="password" required>
          <mat-error *ngIf="f.password.touched && f.password.invalid">You must enter a password</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/reset-password">Forgot Password?</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button class="login-button" type="submit">Login</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <hr>
  <a routerLink="/signup"><button mat-raised-button>Create an account</button></a>
</div>
