<mat-card class="card">
    <div class="name-holder">
        <div class="name">
            <h3 class="location">{{city}} {{state}}, {{zip}}</h3>
            <h1>{{fullName}}</h1>
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="info">
        <h3>Average Cost</h3>
        <h1>{{price}}</h1>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="info">
        <h3>{{percentMen}}% Men, {{percentWomen}}% Women</h3>
        <h1>{{size.toLocaleString()}} Students</h1>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="button-holder">
        <button mat-raised-button class="Visit-Button" id="info" routerLink="/info/{{school.id}}">More Info</button>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="button-holder">
        <button mat-button (click)="change()" [ngClass]="{'gold': toggle, 'grey': !toggle}">
      <mat-icon>star</mat-icon>
    </button>
    </div>
</mat-card>