.card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 125px;
    vertical-align: middle;
}

.name {
    text-align: left;
    vertical-align: middle;
}

.info {
    text-align: left;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}

.Visit-Button {
    background-color: #2b6777;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: auto 10px;
    cursor: pointer;
}

.button-holder {
    height: 100%;
    display: flex;
    align-items: center;
}

.location {
    margin-bottom: 5px;
}

.name-holder {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 35%;
}

.btns {
    padding-top: 2.5%;
}

.gold {
    color: goldenrod;
}

.grey {
    color: grey;
}

#website {
    background-color: green;
}

#info {
    background-color: green;
}