<div class="wrapper-box">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-success" role="alert" *ngIf="updateSuccess">
          Email Sent!
        </div>
        <div class="card">
          <h2 class="card-header">Contact Us</h2>
          <div class="card-body">

            <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
              <div class="mb-3">
                <label for="Email">Email: </label>
                <input type="email" class="form-control" name="Email" aria-describedby="emailHelp"
                  placeholder="Enter email" formControlName="Email" />
              </div>
              <div class="mb-3">
                <label for="fullname">Full Name: </label>
                <input type="text" class="form-control" name="Fullname" placeholder="Full Name"
                  formControlName="Fullname" />
              </div>

              <div class="mb-3">
                <label for="comment">Comment: </label>
                <textarea class="form-control" formControlName="Comment" name="Comment">
                </textarea>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
